.wrap-element {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
}
.wrapped-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.progress-bar {
  width: 100%;
  background-color: rgb(128, 128, 128);
}
.progress {
  width: 1%;
  height: 30px;
  background-color: rgb(128, 0, 21);
}
body {
  background-image: url("https://styles.redditmedia.com/t5_fbc5d/styles/profileBanner_287kbmnfstk01.JPG?width=1280&height=384&frame=1&auto=webp&crop=1280:384,smart&s=8c7108cee59946ef6626e228d4be3ad539e207f0");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
